@model Comic
@{
}
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@Model.ImageUrl" style="width: 40vh; height: 60vh;padding-right: 3vh" alt="@Model.Title" />
            <div class="caption">
                <h3>
                    <a asp-controller="Comic" asp-action="Details" asp-route-comicId="@Model.ComicId">@Model.Title</a>
                </h3>
            </div>
            <div class="addToCart text-left">
                <p class="button">
                    <a type="button" class="btn btn-primary" id="cartButton"
                       asp-controller="FavoriteList" asp-action="AddToFavoriteList" asp-route-comicId="@Model.ComicId">
                        Add to Favorite
                    </a>
                </p>
            </div>
        </div>
    </div>

